 <div class="container" style="padding-top:60px">
      <div class="row">
        <section class="main col-md-9">
          <article>
          <h2>Left Column</h2>
          <p>My name is Juan David Rodriguez, I currently live in Canada, I am studying at Seneca College Computer Programming and Analysis </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Right Column</h2>
          <p>Stay tuned for future updates…  :)</p>
        </aside>
      </div>
    </div>
  </body>
</html>